﻿@model ExoGuardian.Models.registerViewModel
@{
    ViewData["Title"] = "Register";
}
<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Create a new account.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="email" class="form-control" />
            <span asp-validation-for="email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="password" class="form-control" />
            <span asp-validation-for="password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="confirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="confirmPassword" class="form-control" />
            <span asp-validation-for="confirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}