
<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                Welcome to IdentityServer4
                @*<small>(build {version})</small>*@
            </h1>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Registrate Aqu&iacute;</a>
        </div>
    </div>
</div>
